/* ServicePage.css */

/* Main Content */
.service-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9; /* Added background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.service-section {
  text-align: center;
}

.service-section h2 {
  font-size: 32px; /* Increased font size */
  margin-bottom: 40px; /* Increased spacing */
  color: #333; /* Update color */
}

.service-item {
  text-align: left;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* Added background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  transition: transform 0.3s ease; /* Added hover effect */
}

.service-item:hover {
  transform: translateY(-5px); /* Added hover effect */
}

.service-item h3 {
  font-size: 24px; /* Increased font size */
  margin-bottom: 10px; /* Increased spacing */
  color: #333; /* Update color */
}

.service-item p {
  font-size: 18px; /* Increased font size */
  line-height: 1.6; /* Increased line height for better readability */
  color: #555; /* Update color */
}
